.App {
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right top, #897b83, #7c7179, #6f686f, #625e64, #575559, #504f52, #49484a, #424243, #3d3d3e, #383838, #333333, #2e2e2e);}

